{% extends 'base.html'%}
{%block body%}

<h1 class="text-center mb-5">#About us</h1>
<div class="container" style="display: flex; gap: 5px;padding:10px;">
    
    <img src="static/images/about.jpg" alt="">
    

    <p >At MMMSTYLES , we believe that shopping should be an experience, not just a transaction. Our mission is to bring you a seamless and enjoyable online shopping journey, where you can discover a curated selection of high-quality products that cater to your needs and desires.</p>
</div>
<div class="app-parent">
    <h4 class="text-center">We will be lauching our app which will be available soon</h4>
    <div class="app">
        <img src="static/images/about.jpg" alt="">
        
    </div>
</div>


{%endblock%}