{% extends 'base.html'%}
{% block body%}

<div class="home container">
    <div class="row justify-content-md-center">
        <div class=" col-md-4 m-auto">
            <h2>We have what you need <br> from <span class="element  text-primary border-bottom border-danger"></span> <br>welcome <span class="element2">........</span></h2>
            <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat perspiciatis sapiente aut a veritatis harum, nam inventore aspernatur accusamus quam aliquid, obcaecati dolor ducimus cumque pariatur ab eligendi autem nobis.
            </div>
        </div>
        
        <div class="col-md-8">
            <img class="bg-image img-fluid" src="{{url_for('static', filename='images/bg2.jpeg')}}" alt="img"  height="500">
        </div>
    </div>
    
</div>

<section class="about" id="about">
    <div>
      <h4>About us:</h4>
      <p>At MMMSTYLES , we believe that shopping should be an experience, not just a transaction. Our mission is to bring you a seamless and enjoyable online shopping journey, where you can discover a curated selection of high-quality products that cater to your needs and desires.</p>
    </div>
</section>


<div class="mt-4">
    <h4 class="text-center"><span class="featured"></span></h4>
</div>

<div id="shop" class="container">
    
    <div class="home-all-product" >
        {% for shirt in shirts[:3] %}
        <div class="home-product"style="width: 12rem;">
            <a href="{{ url_for('get_a_shirt', shirt_id=shirt.id) }}">
                <img src="{{ url_for('static', filename='images/{}'.format(shirt.img)) }}" class="" alt="...">
            </a>
            <h5 class="">{{shirt.shirt_name}}</h5>
            <p class="">{{shirt.description}}</p>
            <p class="">{{shirt.price}}$</p>
            <a href="{{ url_for('cart') }}" class="addToCart btn btn-secondary btn-sm">Add to cart</a>
        </div>
        {% endfor %}
        
        {% for short in shorts[:5] %}
        <div class="home-product"style="width: 12rem;">
            <a href="{{ url_for('get_a_short', short_id=short.id) }}">
                <img src="{{ url_for('static', filename='images/{}'.format(short.img)) }}" alt="...">
            </a>
            <h5>{{short.shorts_name}}</h5>
            <p class="des">{{short.description}}</p>
            <p>Price: {{short.price}}$</p>
            <a href="#" class="btn btn-secondary btn-sm">Add to cart</a>
        </div>
        {% endfor %}


        {% for trouser in trousers %}
            <div class="home-product" style="width: 12rem;">
                <a href="{{ url_for('get_a_trouser', trouser_id=trouser.id) }}">
                    <img src="{{ url_for('static', filename='images/{}'.format(trouser.img)) }}" class="" alt="...">
                </a>
                <h5>{{trouser.trousers_name}}</h5>
                <p class="des">{{trouser.description}}</p>
                <p>Price: {{trouser.price}}$</p>
                <a href="#" class="btn btn-secondary btn-sm">Add to cart</a>
            </div>
        {% endfor %} 
    </div>
    
</div>

<div>
    <div class="offer">
        <h4>Monthly Offers</h4>
        <h3>Upto <span>70% off</span>-All Shirts</h3>
    </div>
</div>

<div class="container">
    <h1 class="text-center">New Arrival</h1>
    <div class="all-new-arrival">
        <div class="new-arrival">
            <img src="static/images/upcoming2.jpg" alt="" srcset="">
            <h4>Summmer shirt</h4>
            <p>Best Quality from all over town</p>
            <p>price</p>
        </div>
        <div class="new-arrival">
            <img src="static/images/upcoming2.jpg" alt="" srcset="">
            <h4>Summmer shirt</h4>
            <p>Best Quality from all over town</p>
            <p>price</p>
        </div>
        <div class="new-arrival">
            <img src="static/images/upcoming2.jpg" alt="" srcset="">
            <h4>Summmer shirt</h4>
            <p>Best Quality from all over town</p>
            <p>price</p>
        </div>
        <div class="new-arrival">
            <img src="static/images/upcoming2.jpg" alt="" srcset="">
            <h4>Summmer shirt</h4>
            <p>Best Quality from all over town</p>
            <p>price</p>
        </div>
    </div>
</div>

{% endblock%}

{% block script%}
<script defer src="{{ url_for('static', filename='scripts/cart.js')}}"></script>
<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('.element', {
        strings: ["Clothes", "Shoes","utensils"],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true
    });
    var typed2 = new Typed('.element2', {
        strings: ["........."],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true
    });
    var typed3 = new Typed('.featured', {
        strings: ["Featured products"],
        typeSpeed: 100,
        backSpeed: 100,
        loop: true
    });
</script>
{% endblock%}
