{% extends 'base.html'%}
{% block body%}
<div id="shop" class="container">
    
    <div class="single-shirt" >
        
        <div class="shirt">
            <img class="img-fluid" src="{{url_for('static',filename='images/tshirt1.jpg')}}" class="" alt="...">
            <div>
                <h5 class="">{{shirt_data.shirt_name}}</h5>
                <p class="">{{shirt_data.description}}</p>
                <p class="">{{shirt_data.price}}$</p>
                <a href="{{ url_for('cart') }}" class="addToCart btn btn-secondary btn-sm">Add to cart</a>
            </div>
        </div>
        
    </div>
</div>
{% endblock%}